@model MVC_Store.Models.ViewModels.Account.UserNavPartialVM

<li class="navbar-text"><a class="nav-link"  href="/account/user-profile" style="text-decoration: none"></a>&nbsp;&nbsp;(@Model.FirstName @Model.LastName)</li>
